body{
    margin-top: 5em;

}
.header {
    color: white;
    background: black;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}

span.title{
vertical-align: middle;
}

span.shop-title{
    margin-right: 6em;
}

span.learn-title{
    margin-left: 6em;
}

img.logo{
    width:3em;
}

div.outputs {
    position: absolute;
    right: 5%;
    color: #EC7701;
}

div.outputs > ul > li {
    display: inline-block;
    padding-right: 20px;
}