body{
    margin-top: 5em;

}

.header {
    color: white;
    background: black;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}
.hero-button:hover{
    cursor:pointer;
}

.desktop-mobile{
    display: none;
}

span.title{
vertical-align: middle;
}

a.shop-title{
    margin-right: 6em;
    text-decoration: none;
    color: white;

}

a.learn-title{
    margin-left: 6em;
    text-decoration: none;
    color: white;
}

a.learn-title > a:visited{
    color: white;
    text-decoration: none;
}
a.shop-title> a:visited{
    color: white;
    text-decoration: none;
}

img.logo{
    width:3em;
}

div.outputs {
    position: absolute;
    right: 5%;
    top:5%;
    color: #EC7701;
    z-index:8888;
}

div.outputs > ul > li {
    display: inline-block;
    padding-right: 20px;
    font-size:2.3em;
}
div.outputs > ul > li > a {
    color: #EC7701;

}
div.outputs > ul > li > a:visited {
    color: #EC7701;

}

/* Scroll-to-top Anchor*/

#anchor {
    z-index: 999;
    min-width: 4em;
    min-height: 4em;
    background:transparent url(/img/anchor.svg) center top no-repeat;
}

#anchor:hover{
    background:transparent url(/img/anchor-hover.svg) center top no-repeat;
    cursor: pointer;

}

.anchor-img:hover {
   background-image: url(/img/anchor-hover.svg);
}

@media(max-width:650px) {
    .desktop-header{
        display:none;
    }
    img.logo{
        width:6em;
    }

    #anchor{
        display:none;
    }

}


/*//////////////////////////////////*/
.mobile-header {
    z-index: 10000;
}

.hamburger{
    font-size:3em;
    position: absolute;
    top:0;
    left:0;
    padding: .3em 0 0 1em;
    z-index: 88888;
}

.hamburger:hover{
    cursor: pointer;
}
.mobile-sub{
    min-width: 100vw;
    background:black;
    transition: all .5s cubic-bezier(0, 1.22, 1, 1); 
    position: absolute;  
    margin-top: -5px;
}



ul.submenu-items > li {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.mobile-sub.hidden{
    transform: translateY(-100%);
}

.mobile-sub.visible{
    transform: translateY(0%);
}
  
  @media(min-width:650px){
    .mobile-header{
      display: none;
      justify-content: space-between;
    }
    
    .hamburger{
        display: none;
    }
    .mobile-sub{
        display:none;   
    }

  }
  
